torch==2.3.1+cpu; platform_system=="Linux"
torch==2.3.1; platform_system=="Darwin"
torch==2.3.1; platform_system == "Windows"
-f https://download.pytorch.org/whl/cpu/torch_stable.html
scikit-learn==1.6.0
numpy==1.26.4
pandas
openpyxl
shap
tqdm
xgboost
wandb
plotly
streamlit
huggingface_hub